{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'add_course_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}New Course{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}

{% block content %}

<section>
    <div class="block-header">Add new course</div>
    <form method="post" enctype="multipart/form-data">
        <div class="block-body">
            {% csrf_token %}
            {{ form }}
            <div class="signup-wrapper"><input type="submit" value="Add" id="submit"></div>
        </div>
    </form>
</section>

<script>
    function btnSearch_Click() {
         var radio1=[document.getElementById("id_course_type_0")].some(c=>c.checked);
         var radio2=[document.getElementById("id_course_type_1")].some(c=>c.checked);
         if(radio1){
            document.getElementById("id_fee").style.display='none';
            document.querySelector('label[for="id_fee"]').style.display='none';
         }else if(radio2){
            document.getElementById("id_fee").style.display='block';
            document.querySelector('label[for="id_fee"]').style.display='block';
         }
       }
</script>

{% endblock %}