{% load static %}
<!DOCTYPE html>
<html lang="en" dir="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="icon" href="{% static 'favicon.ico' %}">

  {% block styles %}

  {% endblock %}
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  {% for message in messages %}
  <script>
    window.onload = function () {
      alert('{{message}}')
    }
  </script>
  {% endfor %}
  <header>
    <div class="dropdown">
      <nav>
        <a href="/" class="logo">Online Learning</a>
        <ul>
          {% block Search %} {% endblock %}
          <li class="{% block Home %} {% endblock %}"><a href="/">Home</a></li>
          <li class="{% block Categories %} {% endblock %}"><a href="/categories">Categories</a></li>
          <li class="{% block Dashboard %} {% endblock %}"><a href="/dashboard">Dashboard</a></li>
          <li class="{% block Login %} {% endblock %}"><a href="/login">Log in</a></li>
          <li class="{% block Signup %} {% endblock %}"><a href="/signup">Sign up</a></li>
          <li class="{% block Cart %} {% endblock %}"><a href="/cart" id="cart">
              <i class="fa-solid fa-cart-arrow-down"></i>
              <span class='badge badge-warning' id='lblCartCount'> {{cart_count}} </span>
            </a>
          </li>
          <li class="{% block Logout %} {% endblock %}">

            <a>{{user.username}} (${{user.credit}})</a>
            <ul>
              <li><a href="/logout"><b>Logout</b></a></li>
            </ul>

          </li>
        </ul>
      </nav>
    </div>

  </header>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  <footer style="display: inline-block;">
    <hr>
    <h4>Online Learning © 2022</h4>
  </footer>
</body>

</html>