{% load static %}
<!DOCTYPE html>
<html lang="en" dir="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  {% block styles %}

  {% endblock %}
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <header>
    <input type="checkbox" id="check" name="check" role="button">
    <nav>
      <div class="container">
        <label for="check" class="checkbtn">
          <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo">Online Learning</label>
        <ul>
          <li>
            <input type="search" placeholder="Search" class="search-box">
            <label for="srch" class="search-icon"><i class="fa-solid fa-search"></i></label>
          </li>
          <li><a href="/" class="{% block Home %} {% endblock %}">Home</a></li>
          <li><a href="categories" class="{% block Categories %} {% endblock %}">Categories</a></li>
          <li><a href="login" class="{% block Login %} {% endblock %}">Log in</a></li>
          <li><a href="signup" class="{% block Signup %} {% endblock %}">Sign up</a></li>
          <li><a href="cart" class="{% block Cart %} {% endblock %}"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  <footer>
    <hr>
    <h4>Online Learning © 2022</h4>
  </footer>
</body>

</html>