{% load static %}
<!DOCTYPE html>
<html lang="en" dir="">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  {% block styles %}

  {% endblock %}
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  {% for message in messages %}
  <script>
    window.onload = function () {
      alert('{{message}}')
    }
  </script>
  {% endfor %}
  <header>
    <input type="checkbox" id="check" name="check" role="button">
    <nav>
      <div class="container">
        <label for="check" class="checkbtn">
          <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo">Online Learning</label>
        <ul>
          <li>
            <input type="search" placeholder="Search" class="search-box">
            <label for="srch" class="search-icon"><i class="fa-solid fa-search"></i></label>
          </li>
          <li class="{% block Home %} {% endblock %}"><a href="/">Home</a></li>
          <li class="{% block Categories %} {% endblock %}"><a href="categories">Categories</a></li>
          <li class="{% block Dashboard %} {% endblock %}"><a href="dashboard">Dashboard</a></li>
          <li class="{% block Login %} {% endblock %}"><a href="login">Log in</a></li>
          <li class="{% block Signup %} {% endblock %}"><a href="signup">Sign up</a></li>
          <li class="{% block Cart %} {% endblock %}"><a href="cart" id="cart"><i
                class="fa-solid fa-cart-arrow-down"></i></a>
          </li>
          <li class="{% block Logout %} {% endblock %}"><a href="logout" id="logout"><i
                class="fa-solid fa-arrow-right-from-bracket"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  <footer>
    <hr>
    <h4>Online Learning © 2022</h4>
  </footer>
</body>

</html>