{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'cart_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Cart{% endblock %}
{% block Cart %}active{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}
{% block content %}

<section>
    <div class="grid_container">
        {% for course in courses %}
        <div class="card">

            <div style="position: relative;">
                {% if course.fee == 0 %}
                <p class="price">Free</p>
                {% else %}
                <p class="price">${{course.fee}}</p>
                {% endif %}
                <a href="/view_course/{{ course.id }}">
                    <img src="/media/{{course.cover_image}}" width="100%" height="160px" />
                </a>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{course.id}}" />
                    <input type="submit" value="" style="background-image: url('media/images/svg/trash-can-solid.svg');
                    background-repeat: no-repeat; background-position: center;" name="delete" class="delete" />
                </form>
            </div>

            <h3 class="content_title">
                <p>{{ course.title }}</p>

            </h3>
            <div class="rating">
                <span>{{ course.rating }} </span>
                {% for x in 5|times %}
                <span class="fa fa-star"></span>
                {% endfor %}
                <span>( {{ course.numberOfRating }} )</span>
            </div>
            <div class="date">
                <h4>
                    <p>{{ course.uploadDate }}</p>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>

    <div style="margin-top: 20px;">
        <span style="font-weight: bold; font-size: 25px; "><p>Total Price: ${{total}}</p></span>
        <form method="post">
            {% csrf_token %}
            <span><input type="submit" value="Confirm Parches" name="confirm_parches" class="button" /></span>
        </form>
    </div>
</section>

{% endblock %}