{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Categories{% endblock %}
{% block Categories %}active{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}
{% block content %}

<section>
    <p>Academics
        Business
        Design
        Development
        Health & Fitness
        IT & Software
        Language
        Lifestyle
        Marketing
        Music
        Office Productivity
        Personal Development
        Photography</p>
</section>

{% endblock %}