{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'categories_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Categories{% endblock %}
{% block Categories %}active{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Cart %}{% if not login %}inactive{% endif %}{% endblock %}
{% block content %}

<section>
    <h2 class="big-title">Categories</h2>
    <div class="grid_container">
        {% for category in categories %}
        <a href="category/{{category.name}}">
            <div class="card" style="position: relative;">
                <img src="/media/images/categories/{{category.imageUrl}}" height="150px" width="100%">
                <span class="category">
                    <p>{{category.name}}</p>
                </span>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}