{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'edit_course_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Dashboard{% endblock %}
{% block Login %}inactive{% endblock %}
{% block Signup %}inactive{% endblock %}
{% block content %}

<section>
    <h2><i class="fa-solid fa-angles-right"></i> Details</h2>
    <a class="button" href="/edit_course_details/{{id}}">Edit Details</a>
    {% if course.fee == 0 %}
    <p class="e-margin">
        <span class="s-title">Course Fee:</span>
        <span class="value"> Free</span>
    </p>
    {% else %}
    <p class="e-margin">
        <span class="s-title">Course Fee:</span>
        <span class="value"> {{course.fee}}</span>
    </p>
    {% endif %}

    <p class="e-margin">
        <span class="s-title">Title:</span>
        <span class="value"> {{course.title}}</span>
    </p>
    <p class="e-margin">
        <span class="s-title">Rating:</span>
        <span class="value"> {{course.rating}}</span>
        <span class="value"> ({{course.numberOfRating}})</span>
    </p>
    <p class="e-margin">
        <span class="s-title">Date of creation:</span>
        <span class="value">{{course.uploadDate}}</span>
    </p>
    <h2><i class="fa-solid fa-angles-right"></i> Videos</h2>
    {% for video in videos %}
    <div class="card">
        <p class="title">{{video.s_id}}. {{video.title}}</p>
        <p class="min">{{video.duration}}</p>
    </div>
    {% endfor %}

    <button id="add-video-bt" class="button" onclick="onAddVideoClick()">Add New Video</button>

    <div class="add-video-block" id="video-block">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add" id="submit">
        </form>
    </div>

</section>

<script>
    document.getElementById('id_course_id').value = "{{course.id}}";
    document.getElementById('id_s_id').value = parseInt('{{course.video_count}}') + 1;

    document.getElementById('id_video_file').onchange = setFileInfo;


    function setFileInfo() {
        var files = this.files;
        var video = document.createElement('video');
        video.preload = 'metadata';

        video.onloadedmetadata = function () {
            window.URL.revokeObjectURL(video.src);
            var duration = video.duration;
            var h = parseInt(duration / 3600) % 24;
            var m = parseInt(parseInt(duration % 3600) / 60);
            var s = parseInt(parseInt(duration % 3600) % 60);
            var d = "";
            if (h > 0) {
                if (h < 10) {
                    d += "0" + h;
                } else {
                    d += h;
                }
                d += ":";
            }

            if (m < 10) {
                d += "0" + m;
            } else {
                d += m;
            }
            d += ":";
            if (s < 10) {
                d += "0" + s;
            } else {
                d += s;
            }

            document.getElementById('id_duration').value = d;
        }
        video.src = URL.createObjectURL(files[0]);;
    }

    function onAddVideoClick() {
        document.getElementById("video-block").style.display = 'block';
        document.getElementById("add-video-bt").style.display = 'none';
    }

    function onEditClick() {
        alert("The URL of this page is: " + window.location.href);
    }
</script>

{% endblock %}