{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Home{% endblock %}
{% block Home %}active{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}
{% block content %}
<section>
    <h2><i class="fa-solid fa-angles-right"></i> Latest Published</h2>
    <div class="grid_container">
        {% for course in courses %}
        <div class="card">
            <a href="/view_course/{{ course.id }}">
                <img src="/media/images/{{course.imageUrl}}" width="100%" height="160px" />
            </a>
            <h3 class="content_title">
                <p>{{ course.title }}</p>
            </h3>
            <div class="rating">
                <span>{{ course.rating }} </span>
                {% for x in 5|times %}
                <span class="fa fa-star"></span>
                {% endfor %}
                <span>( {{ course.numberOfRating }} )</span>
            </div>
            <div class="date">
                <h4>
                    <p>{{ course.uploadDate }}</p>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2><i class="fa-solid fa-angles-right"></i> Top Rated</h2>
    <div class="grid_container">
        {% for x in 6|times %}
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" width="100%"
                height="160px" />
            <h3 class="content_title">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, nisi.</p>
            </h3>
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>(343)</span>
            </div>
            <div class="date">
                <h4>
                    <p>Feb, 24 2022</p>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2><i class="fa-solid fa-angles-right"></i> Most Popular</h2>
    <div class="grid_container">
        {% for x in 6|times %}
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" width="100%"
                height="160px" />
            <h3 class="content_title">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, nisi.</p>
            </h3>
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>(343)</span>
            </div>
            <div class="date">
                <h4>
                    <p>Feb, 24 2022</p>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}