{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Log In{% endblock %}
{% block Login %}active{% endblock %}
{% block Logout %}inactive{% endblock %}
{% block Dashboard %}inactive{% endblock %}
{% block Cart %}{% if not login %}inactive{% endif %}{% endblock %}
{% block content %}



<section>
    {% if error %}
    <div class="error-block">
        <div><span class="disk">*</span> {{ error }}</div>
    </div>
    {% endif %}
    <div class="block">
        <div class="block-header">Log In</div>
        <form method="post">
            <div class="block-body">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Log In" id="submit">
            </div>
        </form>
    </div>
</section>

{% endblock %}