{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'view_course_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Course Title{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}

{% block content %}

<section>
    <div class="block">
        <p class="category">{{course.category}}</p>
        {% if course.fee == 0 %}
        <p class="price">Free</p>
        {% else %}
        <p class="price">${{course.fee}}</p>
        {% endif %}
        <p class="title">{{course.title}}</p>
        <p class="button">Add To Cart</p>
        <P class="s-title">by <b>{{course.user}}</b> -- on <b>{{course.uploadDate}}</b></P>
    </div>

    <br>
    <img src="/media/images/{{course.imageUrl}}" class="center" />
    <br>

    <p class="title">What you'll learn</p>
    <p>{{course.outcome}}</p><br>
    <p class="title">Requirements</p>
    <p>{{course.requirement}}</p><br>
    <p class="title">Description</p>
    <p>{{course.description}}</p><br>
    <p class="title">Reviews</p><br>
    <div class="block">

    </div>

</section>

{% endblock %}