{% extends 'base.html' %}
{% load static %}
{% load my_filters %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'view_course_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Course Title{% endblock %}
{% block Login %}{% if login %}inactive{% endif %}{% endblock %}
{% block Signup %}{% if login %}inactive{% endif %}{% endblock %}
{% block Logout %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Dashboard %}{% if not login %}inactive{% endif %}{% endblock %}
{% block Cart %}{% if not login %}inactive{% endif %}{% endblock %}

{% block content %}

<section>
    <div class="block">
        <p class="category">{{course.category}}</p>
        {% if course.fee == 0 %}
        <p class="price">Free</p>
        {% else %}
        <p class="price">${{course.fee}}</p>
        {% endif %}
        <p class="title">{{course.title}}</p>
        {% if is_soldable %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Add To Cart" name="add_to_cart" class="button" />
        </form>
        {% endif %}
        <!-- <p class="button" onclick="saveToLocal();">Add To Cart</p> -->
        <P class="s-title">by <b>{{course.username}}</b> -- on <b>{{ course.time|date:"M d, Y" }}</b></P>
    </div>

    <br>
    <img src="/media/{{course.cover_image}}" class="center" height="200px" />
    <br>

    <p class="title">What you'll learn</p>
    <ul style="padding-left: 30px;">
        {% with course.outcome|split:"." as outcomes %}
        {% for outcome in outcomes %}
        <li class="s-title">
            <p>{{outcome}}.</p>
        </li>
        {% endfor %}
        {% endwith %}
    </ul>
    <p class="title">Requirements</p>
    <ul style="padding-left: 30px;">
        {% with course.requirement|split:"." as requirements %}
        {% for requirement in requirements %}
        <li class="s-title">
            <p>{{requirement}}.</p>
        </li>
        {% endfor %}
        {% endwith %}
    </ul>
    <p class="title">Description</p>
    <p style="padding-left: 17px;line-height: 1.6;" class="s-title">{{course.description}}</p><br>
    <p class="title">Reviews</p>
    <div class="block">
        <div class="grid-container">
            {% for review in page_obj %}
            <div class="review-tile">
                <b>{{ review.username|upper }}</b> <span style="float: right;"><b>{{ review.rating }}</b></span>
                <p>{{review.description}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="c-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="pagination-button">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-button">previous</a>
                {% endif %}

                <!-- <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span> -->

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pagination-button">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-button">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</section>

<script>
    function saveToLocal() {
        var cart = window.localStorage.getItem('cart');
        var cartLenght = 0;
        if (cart == null) {
            cart = '{}';
        }
        const jsonObj = JSON.parse(cart);
        jsonObj['{{id}}'] = '{{id}}';

        cart = JSON.stringify(jsonObj);

        window.localStorage.setItem('cart', cart);
    }
</script>

{% endblock %}