section {
    padding: 20px 25px;
}


.card {
    padding: 10px;
    overflow: auto;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
}

.price {
    text-decoration: none;
    font-size: 17px;
    padding: 5px 10px;
    background: white;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 0px;
}

.delete {
    text-decoration: none;
    font-size: 17px;
    padding: 5px 10px;
    background: white;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border-width: 5px 5px;
}

.delete:hover {
    cursor: pointer;
}

a:visited {
    color: black;
}


.button {
    color: white;
    border: 0px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--main_color);
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
}

:hover.button {
    cursor: pointer;
}


@media (min-width: 576px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}

@media (min-width: 768px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}

@media (min-width: 992px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}

@media (min-width: 1200px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}