:root {
    --main_color: #34495E;
}


section {
    padding: 20px 25px;
}

.price {
    height: 2em;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 10px;
    background: white;
    font-weight: bold;
    position: absolute;
    right: auto;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 0px;

}

input[type="submit"].delete {
    text-decoration: none;
    height: 2em;
    font-size: 17px;
    padding: 5px 10px;
    background: white;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    border-style: solid;
    border-color: white;
    border-width: 5px 5px;
    background-image: url('/media/images/svg/trash-can-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 0px 0px 10px;
    margin: 0px;
}

a:visited {
    color: black;
}


input[type="submit"].button {
    color: white;
    border: 0px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: var(--main_color);
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
    float: left;
}

:hover.button {
    cursor: pointer;
}


@media (min-width: 576px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}

@media (min-width: 768px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}

@media (min-width: 992px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}

@media (min-width: 1200px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 1em;
    }
}